body{
    margin: 0;
    padding: 0;

    background-color: rgb(228, 0, 0);
    display: flex;
    flex-direction: row;
}

.left_content{
    background-color: rgb(150, 157, 196);
    display: flex;
    flex-direction: column;

    width: 200px;
}

.right_content{
    background-color: rgb(122, 84, 84);
    display: flex;
    flex-direction: column;

    width: 1300px;
}

.top_box{
    background-color: rgb(9, 113, 49);
    height: 500px;
}

#top_box_top{
    background-color: rgb(255, 0, 0);
    height: 100px;
}

#top_box_bottom{
    background-color: rgb(182, 0, 232);
    height: 100px;

    /* margin: 15px; */
    display: flex;
    flex-direction: row;
}

.routinesDiv{
    background-color: rgb(0, 112, 232);
    height: 100px;

    margin: auto;
}

.bottom_box{
    background-color: rgb(154, 229, 235);
    height: 500px;
}

