html(lang="en")
    head
        title= title
        //- meta(charset="UTF-8")
        //- meta(http-equiv="X-UA-Compatible", content="IE=edge")
        //- meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- title Document
        script(src='/home.js')
        link(rel='stylesheet', href='/home.css')
    script.
        var storedValue = !{JSON.stringify(storedValues)};
        //- console.log("in pug",storedValue);

    body 
        //- p #{title} home
        
        .left_content
            p user name
        .right_content
            .top_box
                #top_box_top
                    p top_box_top
                #top_box_bottom
                    p top_box_bottom
                    
            .bottom_box
                p bottom_box